@use "../abstracts" as a;

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.btnBase {
  padding: 8px 30px;
  border-radius: 25px;
  border: 1px solid transparent;
  background-color: a.$primaryTeal;
  color: a.$textHighContrast;
  text-transform: uppercase;
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
  color: a.$primaryTeal;
}
