@use "../abstracts" as a;

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.btnBase {
  padding: 8px 30px;
  border-radius: 25px;
  border: 1px solid transparent;
  background-color: a.$primaryTeal;
  color: a.$textHighContrast;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;

  &:hover,
  &:focus {
    background-color: rgba($color: a.$primaryTeal, $alpha: 0.85);
    color: a.$textHighContrast;
    outline: none;
  }
}

.btnSecondary {
  padding: 8px 30px;
  border-radius: 25px;
  border: 2px solid a.$primaryTeal;
  background-color: a.$buttonWhiteBg;
  color: a.$primaryTeal;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;

  &:hover,
  &:focus {
    background: linear-gradient(
        0deg,
        rgba(153, 153, 153, 0.5) 0%,
        rgba(153, 153, 153, 0.5) 100%
      ),
      #fff;
    outline: none;
  }
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
  color: a.$primaryTeal;
}

.titleRed {
  @extend .title;
  color: a.$redAccent;
}

.content {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: a.$primaryText;
}
