@use "../abstracts" as a;
@use "../utilities";

.container {
  @extend .container;
  padding-top: 40px;

  .title {
    @extend .title;
    color: a.$purple;
  }

  .content {
    @extend .content;
  }

  .join {
    margin: 40px 0;
    text-align: center;

    .joinTitle {
      @extend .subHeader;
    }

    .joinText {
      margin: 40px 0;
      color: a.$primaryTeal;
      font-size: 1.375rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      .link {
        color: a.$redAccent;
      }
    }
  }
}
