@use "../abstracts" as a;
@use "../utilities";

.homeInfo {
  @extend .container;
  display: flex;
  gap: 3.75rem;
  padding: 0rem 2.5rem 2.5rem 2.5rem;

  .infoImg {
    @include a.media("1100") {
      display: none;
    }
  }

  .homeText {
    padding-top: 1.91rem;
    display: flex;
    flex-direction: column;
    gap: 4.62rem;

    .textBlock {
      .title {
        @extend .title;
      }
      .text {
        @extend .content;
        margin: 24px 0;
      }
      .btn {
        @extend .btnBase;
        text-decoration: none;
        display: block;
        width: fit-content;
        margin: 0 auto;
      }
    }
  }
}
