@use "../abstracts" as a;
@use "../utilities";

.homeInfo {
  @extend .container;
  display: flex;
  gap: 3.75rem;
  padding: 0rem 2.5rem 2.5rem 2.5rem;

  .infoImg {
    @include a.media("1100") {
      display: none;
    }
  }

  .homeText {
    padding-top: 1.91rem;
    display: flex;
    flex-direction: column;
    gap: 4.62rem;

    .textBlock {
      .title {
        @extend .title;
      }
      .text {
        font-size: 1.25rem;
        margin: 1.5rem 0;
      }
      .btnContainer {
        text-align: center;

        .btn {
          @extend .btnBase;
          text-transform: uppercase;
        }
      }
    }
  }
}
