@use "../abstracts" as a;
@use "../utilities";

.owners {
  text-align: center;
  @extend .container;
  padding: 2.5rem 1rem;

  .title {
    @extend .title;
  }

  .text {
    font-size: 1.25rem;
  }
}

.comingSoon {
  text-align: center;
  color: a.$redAccent;
  margin: 2.5rem 0;
}
