@use "../abstracts" as a;
@use "../utilities";

.confirmation {
  @extend .container;
  text-align: center;
  padding: 48px 0;

  .title {
    @extend .title;
    color: a.$purple;
  }

  .content {
    @extend .content;
    color: a.$purple;
  }

  .link {
    @extend .btnBase;
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 48px;
    text-decoration: none;
  }
}
