@use "../abstracts" as a;
@use "../utilities";

.formContainer {
  max-width: 800px;
  margin: 0 auto;

  .formTitle {
    @extend .title;
    color: a.$purple;
    text-align: center;
  }
  .formDetails {
    @extend .content;
    text-align: center;
  }
}
