@use "../../abstracts" as a;
@use "../../utilities";

.navLinks {
  @extend .container;
  padding: 0;

  .navLink {
    &:hover,
    &.active {
      color: a.$redAccent;
    }

    &.active {
      text-decoration: underline;
    }
  }
}
