// Hero
$textHighContrast: white;
$blue: rgb(0, 105, 117);

// Default Text
$primaryText: #252525;

// Values Cards
$grey: #f0f0f0;
$lightGrey: #f7f7f7;
$purple: #6234bd;

// HomePage
$redText: #99001f;

// button
// button hover
$buttonHoverBg: #01363c;
$buttonHover: #006975;
$buttonWhiteBg: white;

// button active
$buttonActiveBg: #0062cc;
$buttonActiveBorder: #005cbf;

// button focus
$buttonFocusOutline: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);

// inputs
$inputBorder: #cccccc;
$inputColor: #716e6a;
$inputBg: #ffffff;

// input focus
$inputFocusOutline: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

// footer
$footerBg: #1f1615;
