// Hero
$textHighContrast: white;
$primaryTeal: #016d76;

// Default Text
$primaryText: #252525;

// Values Cards
$grey: #f0f0f0;
$lightGrey: #f7f7f7;
$darkGrey: rgba(153, 153, 153, 1);
$purple: rgba(111, 113, 168, 1);

// HomePage
$redAccent: #9a3040;
$darkerRed: rgba(122, 38, 50, 100%);

// Newsletter
$newsLetterBg: rgba(111, 113, 168, 0.5);

//ContactForm
$contactFormBg: rgba(153, 153, 153, 1);

//Yellow Background
$yellowBg: rgba(243, 245, 157, 0.5);

//ServicesFooterBg
$serviceFooterBg: rgba(1, 109, 118, 0.85);

// button
// button hover
$buttonHoverBg: #01363c;
$buttonHover: #006975;
$buttonWhiteBg: white;

// button active
$buttonActiveBg: #0062cc;
$buttonActiveBorder: #005cbf;

// button focus
$buttonFocusOutline: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);

// inputs
$inputBorder: #cccccc;
$inputColor: #716e6a;
$inputBg: #ffffff;

// input focus
$inputFocusOutline: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

// input active
$inputActiveOutline: 0 0 0 0.1rem $primaryTeal;

// footer
$footerBg: #252525;
