// Hero
$textHighContrast: white;
$blue: rgb(0, 105, 117);

// Default Text
$primaryText: #252525;

// Values Cards
$grey: #f0f0f0;
$lightGrey: #f7f7f7;
$purple: #6234bd;

// HomePage
$redText: #99001f;

// inputs
$inputBorder: #cccccc;
$inputColor: #716e6a;
