@use "../abstracts" as a;
@use "../utilities";

.comingSoon {
  background: linear-gradient(
    90deg,
    a.$purple 23.96%,
    rgba(111, 113, 168, 0) 100%
  );

  .soon {
    display: flex;
    align-items: center;
  }
  .soonTitle {
    @extend .title;
    color: a.$textHighContrast;
    margin-bottom: 30px;
  }
  .homeBtn {
    @extend .btnSecondary;
    text-decoration: none;
  }
}
