@use "../abstracts" as a;
@use "../utilities";

.comingSoon {
  background: linear-gradient(
    90deg,
    a.$purple 23.96%,
    rgba(111, 113, 168, 0) 100%
  );

  .soon {
    display: flex;
    align-items: center;
  }
  .homeBtn {
    @extend .btnSecondary;
    text-decoration: none;
  }
  // .title {
  //   @extend .title;
  //   color: a.$textHighContrast;
  // }
}
