@use "../abstracts" as a;
@use "../utilities";

.contactInfo {
  @extend .container;
  margin: 2.5rem auto;
  display: flex;
  align-items: center;
  gap: 7rem;

  @include a.media("900") {
    flex-direction: column;
  }

  .map {
    width: 100%;
    max-width: 541px;
    height: 692px;
  }

  .info {
    .title {
      color: a.$primaryText;
      font-size: 1.5625rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    .links {
      margin-bottom: 2.5rem;
    }

    .contactLink {
      display: flex;
      align-items: center;
      color: inherit;
      text-decoration: none;
      margin-bottom: 1rem;

      &:visited {
        color: inherit;
      }

      .icon {
        margin-right: 0.25rem;
        width: 1rem;
      }

      .text {
        padding-left: 1rem;
      }
    }

    .email {
      .text {
        color: a.$primaryTeal;
      }
    }
  }
}
