@use "../abstracts" as a;

.cardContainer {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;

  @include a.media(smDesktop) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
  }
}
