@use "../abstracts" as a;

.cardContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 90px;

  @include a.media(smDesktop) {
    flex-direction: column;
    width: 100%;
    padding: 0 15px;

    .centerCol {
      order: -1;
    }
  }
}
