@use "../abstracts" as a;

.cardContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;

  @include a.media(smDesktop) {
    flex-direction: column;
    width: 100%;

    .centerCol {
      order: -1;
    }
  }
}
