@use "../abstracts" as a;
@use "../utilities";

.emergencyInfo {
  padding: 48px 0px;
  text-align: center;

  .container {
    @extend .container;

    .header {
      color: a.$redAccent;
      font-size: 2.0625rem;
      font-weight: 700;
      max-width: 685px;
      margin: 0 auto;

      @include a.media("smTablet") {
        font-size: 1.35781rem;
      }
    }

    .emergencyContact {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0.66rem;
      margin-bottom: 40px;
      gap: 24px;

      @include a.minWidth("tablet") {
        flex-direction: row;
        width: fit-content;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 40px;
      }

      .contactInfo {
        display: flex;
        align-items: center;
        color: inherit;
        text-decoration: none;

        &:visited {
          color: inherit;
        }

        .icon {
          margin-right: 0.25rem;
          width: 1rem;
        }

        .info {
          padding: 0 15px;
        }
      }
    }
    .prepared {
      font-size: 1.25rem;
      max-width: 540px;
      margin: 0 auto;
      font-weight: 300;
      margin-bottom: 20px;
    }

    .formBtn {
      @extend .btnTertiary;
    }

    .poison {
      margin-top: 4.75rem;
      font-size: 1.25rem;
      font-weight: 300;

      @include a.media("tablet") {
        font-size: 1.35781rem;
      }

      .call {
        color: a.$redAccent;
        text-decoration: none;
        margin-left: 0.5rem;
      }
    }
  }
}
