@use "../abstracts" as a;
@use "../utilities";

.footer {
  background-color: a.$footerBg;
  color: a.$textHighContrast;
  padding: 50px 0;

  .container {
    @extend .container;
  }

  .footerContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
    font-family: "Rockford Extra Light";
    font-weight: 400;

    .copyright {
      padding-left: 15px;
      padding-right: 25px;

      .link {
        color: white;
        text-decoration: underline;
        transition: all 200ms ease-in-out;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  @include a.media(tablet) {
    .footerContent {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      text-align: center;

      .copyright {
        padding: 0;
      }
    }
  }
}
