@use "../abstracts" as a;
@use "../utilities";

.heroBg {
  margin-top: 126px;
  padding-bottom: 12px;
  padding-top: 37px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include a.media("tablet") {
    background-color: a.$primaryTeal;
    background-image: none !important;
  }
}

.container {
  @extend .container;

  .logoContainer {
    .logo {
      @include a.media("lgPhone") {
        width: 100%;
        height: auto;
        max-width: 100px;
      }
    }

    .pageHeader {
      display: flex;
      align-items: center;
      gap: 32px;
      color: a.$textHighContrast;
      max-width: 60%;

      @include a.media("tablet") {
        max-width: none;
      }

      .heading {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 2.5rem;

        @include a.media("lgPhone") {
          font-size: 1.75rem;
        }
      }
    }
  }

  .heroText {
    max-width: 58%;
    padding-top: 20px;
    padding-left: 15px;
    text-align: left;
    color: a.$textHighContrast;
    padding-bottom: 10px;

    @include a.media("tablet") {
      max-width: none;
    }

    .subheading {
      font-size: 1.5625rem;
      font-weight: 500;
    }

    @include a.media("smTablet") {
      max-width: none;

      .subheading {
        font-size: 1.35781rem;
      }
    }
  }

  .imgContainer {
    width: 100%;
    max-width: 550px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
