@use "../abstracts" as a;
@use "../utilities";

.linkCards {
  @extend .container;
  padding: 0;
  display: flex;

  @include a.media(tablet) {
    flex-direction: column;
  }

  .linkCard {
    padding: 2rem;
    color: a.$textHighContrast;
    text-decoration: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    transition: all 200ms ease-in-out;

    // TODO: How can we make it clear this is a link?

    @include a.media(tablet) {
      background: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .linkTitle {
      font-size: 1.7rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }

    .text {
      font-size: 1.125rem;
      font-weight: 700;
      max-width: 410px;
      line-height: normal;
    }
  }
}
