@use "../abstracts" as a;
@use "../utilities";

.linkCards {
  display: flex;
  // TODO: We wanted this centered, and not using the entire screen
  @extend .container;
  padding: 0;

  .linkCard {
    padding: 2rem;
    color: a.$textHighContrast;
    text-decoration: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    transition: all 200ms ease-in-out;

    // TODO: How can we make it clear this is a link?
    // &:hover {
    //   transform: scale(1.01);
    // }

    .linkTitle {
      font-size: 1.7rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }

    .text {
      font-size: 1.125rem;
      font-weight: 700;
      max-width: 410px;
      line-height: normal;
    }
  }
}
