@use "../abstracts" as a;

.newsletter {
  background-color: a.$blue;
  color: a.$textHighContrast;
  text-align: center;
  padding: 5rem 0;

  .newsletterTitle {
    font-size: 1.689rem;
  }
  .description {
    font-family: "Rockford Extra Light";
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
    max-width: 50ch;
    margin: 0 auto;
    margin-top: 4px;
    margin-bottom: 25px;
  }
}

.newsletter.inHero {
  background: none;
  text-align: left;
  padding-top: 0;

  .newsletterTitle {
    margin-top: 0;
  }

  .description {
    max-width: fit-content;
  }

  .formContainer {
    max-width: 700px;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }
}

.formContainer {
  display: flex;
  align-items: center;
  max-width: 750px;
  margin: 0 auto;
  gap: 15px;
  padding-left: 15px;

  .inputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;

    .input {
      width: 100%;
      padding: 15px 17px;
      color: a.$inputColor;
      border: 1px solid a.$inputBorder;
    }
  }
  .submitBtn {
    background: #ffffff;
    border-radius: 26px;
    border: 2px solid #ffffff;
    padding: 10px 30px;
    color: a.$blue;
    font-family: "Rockford Extra Light";
    font-weight: 400;
    font-size: 1.01rem;
    line-height: 1.5;
    text-transform: uppercase;
  }

  @include a.media(tablet) {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
  }

  @include a.media(smTablet) {
    .inputContainer {
      flex-direction: column;
      align-items: flex-start;

      .input {
        max-width: 500px;
      }
    }
  }
}
