@use "../abstracts" as a;
@use "../utilities";

.opening {
  padding: 48px 0;
  text-align: center;
  color: a.$textHighContrast;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .title {
    @extend .title;
    color: a.$purple;
    margin-bottom: 47px;
  }
  .openHouse {
    background-color: rgba($color: a.$redAccent, $alpha: 0.85);
    padding: 32px 0px;
  }
  .grandOpening {
    background-color: rgba($color: a.$primaryTeal, $alpha: 0.85);
    padding: 32px 0px;
  }
  .openingTitle {
    font-size: 2.5rem;
  }
  .content {
    @extend .subHeader;
    color: a.$textHighContrast;
    margin: 0;
    font-weight: 700;
  }
}
