@use "../abstracts" as a;
@use "../utilities";

.assistance {
  background-color: a.$yellowBg;
  padding: 0 10px;

  .text {
    width: fit-content;
    margin: 0 auto;
    padding: 24px 0;
    text-align: center;

    .header {
      @extend.title;
      color: a.$primaryText;
    }
    .content {
      @extend .content;
    }

    .btnContainer {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      @include a.media("tablet") {
        flex-direction: column;
        gap: 20px;

        .cta {
          width: fit-content;
          margin: 0 auto;
        }
      }

      .cta {
        display: block;
        white-space: nowrap;
        text-decoration: none;
        @extend .btnBase;
      }
    }
  }
}
