@use "../abstracts" as a;
@use "../utilities";

.serviceCardBg {
  padding: 4.75rem 3rem;
  background-image: linear-gradient(
      rgba(211, 211, 211, 0.5),
      rgba(211, 211, 211, 0.5)
    ),
    url("/pages/owners/serviceCardsBg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // TODO: We wanted this centered, and not using the entire screen
  @extend .container;

  .cardContainer {
    @extend .container;
    display: flex;
    align-items: center;
    gap: 8.75rem;

    @include a.media("1100") {
      flex-direction: column;
    }

    .card {
      padding: 24px;
      background-color: a.$buttonWhiteBg;
      border-radius: 16px;
      border: 1px solid a.$darkGrey;
      flex: 1;
      min-height: 360px;

      @include a.media(smTablet) {
        max-width: none;
      }

      .cardTitle {
        font-size: 1.875rem;
        font-weight: 700;
        color: a.$primaryTeal;
        text-align: center;
      }

      .cardText {
        @extend .content;
        margin: 1rem 0;
      }

      .cardLink {
        @extend .btnSecondary;
        text-decoration: none;
        display: block;
        width: max-content;
        margin: 0 auto;
        margin-top: 24px;
      }
    }
  }
}
