@use "../abstracts" as a;
@use "../utilities";

.container {
  border-right: 1px solid rgba(153, 153, 153, 1);
  min-width: 240px;
  position: relative;
  padding-left: 15px;

  .sidebar {
    width: 220px;
    .links {
      list-style: none;
      padding-bottom: 20px;

      .linkWrapper {
        .link {
          text-decoration: none;
          color: inherit;
          display: block;
          padding: 1px 8px;
          margin-bottom: 1rem;
          font-size: 1.25rem;
          font-weight: 700;
          line-height: normal;
          transition: all 200ms ease-in-out;
          cursor: pointer;

          &:hover {
            color: a.$redAccent;
          }
        }
        .link.active {
          background-color: a.$redAccent;
          color: a.$textHighContrast;
        }
      }
    }
  }

  .sidebar.fixed {
    position: sticky;
    top: 155px;
    bottom: 0;
    width: 220px;
  }
}
