@use "../../abstracts" as a;
@use "../../utilities";

.text {
  padding-left: 2.5rem;

  .title {
    @extend .titleRed;
  }

  .content {
    @extend .content;

    .link {
      text-decoration: none;
      color: a.$redAccent;

      &:visited {
        color: a.$redAccent;
      }
    }
  }
}
