@use "../../abstracts" as a;
@use "../../utilities";

.medicine {
  .text {
    padding-left: 40px;
    padding-bottom: 40px;

    .content {
      @extend .content;
    }
  }

  .conditionsContainer {
    margin: 24px 0;
    padding: 0 40px;
  }

  .title {
    @extend .titleRed;
    margin-bottom: 2rem;
  }

  .title.subheader {
    margin-top: 2rem;
    margin-left: 40px;
    margin-bottom: 16px;
  }
}
