@use "../../abstracts" as a;
@use "../../utilities";

.cardBody {
  border-radius: 8px;
  background: linear-gradient(
      0deg,
      rgba(1, 109, 118, 0.1) 0%,
      rgba(1, 109, 118, 0.1) 100%
    ),
    #fff;
  padding: 20px;

  .name,
  .position {
    @extend .content;
    margin: 0;
  }
  .name {
    margin-top: 30px;
  }

  .position {
    margin-bottom: 24px;
  }

  .profileBtn {
    @extend .btnSecondary;
    text-decoration: none;
    border: 2px solid a.$primaryTeal;
    padding: 4px 8px;
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    font-size: 16px;

    .rightArrow {
      width: 16px;
    }
  }
}
