@use "../../abstracts" as a;

.cardText {
  flex: 1;
  text-align: center;
  padding: 30px;

  .cardTitle {
    font-size: 1.9rem;
    // em to rem
    margin-bottom: 40px;
  }

  .cardDescription {
    // font-family: "Rockford Extra Light";
    font-weight: 400;
    line-height: 1.4;
    font-size: 18px;
    margin-bottom: 1rem;
  }

  .cardBtn {
    // font-family: "Rockford Extra Light";
    text-transform: uppercase;
    background: a.$primaryTeal;
    color: a.$textHighContrast;
    border: 2px solid a.$textHighContrast;
    border-radius: 30px;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 36px;
    transition: all 200ms ease-in-out;

    &:hover {
      background: a.$buttonWhiteBg;
      color: a.$buttonHover;
      border: 2px solid a.$buttonHover;
    }
  }

  @include a.media(smDesktop) {
    order: 2;
  }
}
