@use "../../abstracts" as a;
@use "../../utilities";

.spacer {
  padding-top: 80px;
}

.imgCard {
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  @include a.media(lgPhone) {
    background-image: none;
    padding-bottom: 20px;
  }
}

.container {
  @extend .container;
  display: flex;
  align-items: center;

  @include a.media(smDesktop) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.imgContainer {
  max-width: 570px;

  @include a.media(smDesktop) {
    max-width: 734px;
  }
}
