@use "../../abstracts" as a;
@use "../../utilities";

.spacer {
  padding-top: 80px;
}

.imgCard.right {
  background-image: url("/right-bg.png");
  background-position: bottom right;
  background-size: 45%;
  padding-bottom: 80px;
}

.imgCard.left {
  background-image: url("/left-bg.png");
  background-position: top left;
  background-size: 110%;
  padding-top: 80px;
  margin-bottom: 100px;
}

.imgCard.left,
.imgCard.right {
  @include a.media(smDesktop) {
    background-image: none;
    padding: 0;
  }
}

.imgCard {
  margin-bottom: 80px;
  background-repeat: no-repeat;

  @include a.media(lgPhone) {
    padding-bottom: 20px;
    margin-bottom: 0;
  }
}

.container {
  @extend .container;
  display: flex;
  align-items: center;

  @include a.media(smDesktop) {
    flex-direction: column;
  }
}

.imgContainer {
  max-width: 570px;
  max-height: 404.7px;

  @include a.media(smDesktop) {
    max-width: 734px;
    max-height: fit-content;
  }
}
