@font-face {
  font-family: "Rockford Regular";
  src: url("/fonts/rockford-sans-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rockford Extra Light";
  src: url("/fonts/rockford-sans-extralight.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Rockford Regular";
}

/* h3 {
  font-size: 2.4rem;
} */
