@font-face {
  font-family: "Rockford Regular";
  src: url("/fonts/rockford-sans-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rockford Extra Light";
  src: url("/fonts/rockford-sans-extralight.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Rockford Regular";
  background-color: rgba(255, 254, 255, 100%);
}
