/* @import url("/styles/globals.css"); */

.heroBg {
  position: relative;
  padding-bottom: 50px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  margin-top: 50px;
  margin-left: 15px;
}

.heroText {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 15px;
  text-align: left;
}

.connect {
  margin-right: 10px;
  font-family: "Rockford Extra Light";
}

.socialIcon {
  margin-right: 20px;
}

.down {
  position: absolute;
  left: 45%;
  bottom: 20px;
}
